@import '../../mixins.scss';

@font-face {
  font-family: starjedi;
  src: url(../../logo_font/Starjedi.ttf);
}
nav {
  padding: 12px 32px;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(#000, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    @include fontProp('Montserrat', 400, 24px, $yellow);

    .star-wars {
      font-family: starjedi !important;
    }
  }

  .button-container {
    display: flex;
    height: 100%;
    gap: 12px;
    align-items: center;
    button {
      background-color: $yellow;
      cursor: pointer;
      padding: 8px 16px;
      @include fontProp('Open sans', 500, 14px);
      color: #121212;
      border-radius: 4px;
    }
  }

  @include mobile {
    padding: 12px;

    .logo {
      font-size: 18px !important;
    }

    .button-container {
      gap: 6px;

      button {
        padding: 4px 8px;
      }
    }
  }
}